body {
	width: 200px;
	font-family: 'Varela Round', sans-serif;
	margin:1px;
}

#imgtitre{
	width:150px;
	/*height:100px;*/
	display:block;
}

.h-center{
	margin: 0 auto;
}

#activate{
	display:block;
}

button{
	border-radius: 5px;
	padding: 15px 16px 13px;
    line-height: 15px;
	border-width: 0 1px 4px 1px;
    font-size: 14px;
    font-weight: bold;
	color: #555555;
    background-color: #eeeeee;
    border-color: #e2e2e2;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}
button:hover{
	background-color: #bdd2d1;
}

fieldset{
	width: 100%;
	min-width:0;
	box-sizing: border-box;
	padding:0px;
	margin:0px;
	border: none;
}

div.onoffswitch{
	border-radius: 100px;
	background-color: red;
	width: 15px;
	height: 15px;
	cursor:pointer;
}

td{
	font-size: 8pt;
}

table{
	table-layout: fixed;
	width:100%;
}